//
// mobile first breakpoints
$mobile__limit: 561px; //               mobile ->            0px >= 560px
$tablet__limit: 769px; //               tablet ->            561px >= 768px
$tablet--landscape__limit: 1024px; //   tablet landscape ->  769px >= 1023px
$desktop__limit: 1280px; //             desktop ->           1024px >= 1279px
$desktop--medium__limit: 1441px; //     desktop medium ->    1280px >= 1440px
$desktop--large__limit: 1921px; //      desktop large ->     1441px >= 1920px
//                                      desktop x-large ->   1921px >

@mixin from__tablet {
  @media screen and (min-width: $mobile__limit) {
    @content;
  }
}

@mixin from__tablet--landscape {
  @media screen and (min-width: $tablet__limit) {
    @content;
  }
}

@mixin from__desktop {
  @media screen and (min-width: $tablet--landscape__limit) {
    @content;
  }
}

@mixin from__desktop--medium {
  @media screen and (min-width: $desktop__limit) {
    @content;
  }
}

@mixin from__desktop--large {
  @media screen and (min-width: $desktop--medium__limit) {
    @content;
  }
}

@mixin from__desktop--x-large {
  @media screen and (min-width: $desktop--large__limit) {
    @content;
  }
}

@mixin from__($key) {
  @if $key == 'mobile' {
    @content;
  } @else if $key == 'tablet' {
    @media screen and (min-width: $mobile__limit) {
      @content;
    }
  } @else if $key == 'tablet--landscape' {
    @media screen and (min-width: $tablet__limit) {
      @content;
    }
  } @else if $key == 'desktop' {
    @media screen and (min-width: $tablet--landscape__limit) {
      @content;
    }
  } @else if $key == 'desktop--medium' {
    @media screen and (min-width: $desktop__limit) {
      @content;
    }
  } @else if $key == 'desktop--large' {
    @media screen and (min-width: $desktop--medium__limit) {
      @content;
    }
  } @else if $key == 'desktop--x-large' {
    @media screen and (min-width: $desktop--large__limit) {
      @content;
    }
  }
}

@mixin mobile-only() {
  @include from__tablet {
    display: none;
  }
}

@mixin tablet-only() {
  @include from__tablet {
    display: block;
  }
  @include from__desktop {
    display: none;
  }
  display: none;
}

@mixin desktop-only() {
  @include from__desktop {
    display: block;
  }
  display: none;
}
