$layouts: (
  mobile: 8,
  tablet: 8,
  tablet--landscape: 12,
  desktop: 12,
  desktop--medium: 12,
  desktop--large: 12,
  desktop--x-large: 12,
);

@mixin grid($type: '') {
  width: 100%;
  max-width: var(--layout-max-width);

  display: flex;
  flex-wrap: wrap;
  grid-gap: 0;
  column-gap: var(--layout-gutter);

  padding-left: var(--layout-margin);
  padding-right: var(--layout-margin);
  margin-left: auto;
  margin-right: auto;

  @if $type == 'centered' {
    align-items: center;
    justify-content: center;
  } @else if $type == 'rule-of-thirds' {
    column-gap: 0;
    padding-left: 0;
    padding-right: 0;

    --col: 33.3333%;
  } @else if $type == 'golden-ratio' {
    --layout-margin: min(3.1%, 5.58rem);
    --col-xs: 2.65%;
    --col-s: 10%;
    --col-m: 10.65%;
    --col-l: 13.35%;

    position: absolute;
    top: 0;
    left: 0;

    grid-gap: 0;
    column-gap: 0;

    align-content: flex-start;
  }
}

@mixin columns($i, $device: 'mobile') {
  $columns: map-get($layouts, $device);
  $col_width: calc((#{$i} / #{$columns}) * 100%);
  $gap_width: calc(var(--layout-gutter) * (1 - (1 / (#{$columns} / #{$i}))));
  $width_value: calc($col_width - $gap_width);
  @include from__($device) {
    width: $width_value;
  }
}

@mixin gap($i, $side: '', $device: 'mobile') {
  $columns: map-get($layouts, $device);
  $col_width: calc((#{$i} / #{$columns}) * 100%);
  $gap_margin: calc(var(--layout-gutter) * (#{$i} - (1 / (#{$columns} / #{$i}))));
  $margin_value: calc($col_width - $gap_margin + $i * var(--layout-gutter));
  @include from__($device) {
    @if $side == 'left' {
      margin-left: $margin_value;
    } @else if $side == 'right' {
      margin-right: $margin_value;
    } @else {
      margin-left: $margin_value;
      margin-right: $margin_value;
    }
  }
}
