@mixin page() {
  position: relative;
  z-index: 1;

  will-change: opacity;
}

@mixin will-fade() {
  opacity: 0.00001;
  will-change: opacity;
}

@mixin absolute-fill() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@function toScale($size, $base: 144rem) {
  @return min(calc(100vw * $size / $base), calc(180rem * $size / $base));
}

@function toScaleUp($size, $base: 37.5rem) {
  @return max(calc(100vw * $size / $base), $size);
}

@function toColumns($columns) {
  @return calc(var(--layout-column-width) * #{$columns} + var(--layout-gutter) * (#{$columns} - 1));
}
