@import './breakpoints';

//
// Define columns for each breakpoint
$layouts: (
  mobile: 8,
  tablet: 8,
  tablet--landscape: 24,
  desktop: 24,
  desktop--medium: 24,
  desktop--large: 24,
  desktop--x-large: 24,
);

:root {
  --layout-max-width: 1920px;
  --layout-indent: 1.6rem;
  --layout-gap: 1.6rem;
}

.grid {
  width: 100%;
  max-width: var(--layout-max-width);

  display: flex;
  flex-wrap: wrap;
  grid-gap: 0;
  column-gap: var(--layout-gap);

  padding: 0 var(--layout-indent);
  margin: 0 auto;

  &--centered {
    @extend .grid;

    align-items: center;
    justify-content: center;
  }

  &--golden {
    @extend .grid;

    --layout-indent: 3.1%;
    --col-xs: 2.65%;
    --col-s: 10%;
    --col-m: 10.65%;
    --col-l: 13.35%;

    position: absolute;
    top: 0;
    left: 0;

    grid-gap: 0;
    column-gap: 0;
  }
}

@each $layout, $columns in $layouts {
  @include from__($layout) {
    @for $i from 0 through $columns {
      $col_width: calc((#{$i} / #{$columns}) * 100%);
      $gap_width: calc(var(--layout-gap) * (1 - (1 / (#{$columns} / #{$i}))));
      $gap_width_margin: calc(var(--layout-gap) * (#{$i} - (1 / (#{$columns} / #{$i}))));
      $width_value: calc($col_width - $gap_width);
      $margin_value: calc($col_width - $gap_width_margin + $i * var(--layout-gap));
      .grid__col-#{$i}--#{$layout} {
        width: $width_value;
      }
      .grid__gap-left-#{$i}--#{$layout} {
        margin-left: $margin_value;
      }
      .grid__gap-right-#{$i}--#{$layout} {
        margin-right: $margin_value;
      }
    }
  }
}
