:root {
  // colors
  --black: #000;
  --white: #fff;
  --lime: #c5ff20;
  --light-grey: #d3d6da;
  --dark-grey: #818388;

  // layout
  --layout-max-width: 1800px;
  --layout-columns: 8;
  --layout-margin: 1.6rem;
  --layout-gutter: 0.8rem;
  --layout-width: calc(
    min(100vw, var(--layout-max-width)) - var(--layout-margin) * 2 - var(--layout-gutter) *
      (var(--layout-columns) - 1)
  );
  --layout-column-width: calc(var(--layout-width) / var(--layout-columns));

  @include from__tablet--landscape {
    --layout-columns: 12;
    --layout-gutter: 1.6rem;
  }

  // supports
  @supports (height: 1svh) {
    --vh: 100svh;
  }
  @supports (not (height: 1vh)) {
    --vh: 100vh;
  }
  @supports (overflow: clip) {
    --overflow--hidden: clip;
  }
  @supports (not (overflow: clip)) {
    --overflow--hidden: hidden;
  }
}
