:root {
  // colors
  --lime: #c5ff20;
  --light-grey: #d3d6da;
  --dark-grey: #818388;

  // layout
  --layout-max-width: 1920px;
  --layout-indent: 1.6rem;
  --layout-gap: 1.6rem;

  // supports
  --vh: 100vh;
  @supports (height: 1svh) {
    --vh: 100svh;
  }

  --overflow--hidden: hidden;
  @supports (overflow: clip) {
    --overflow--hidden: clip;
  }
}
