@import './reset';
@import './variables';

@include import-font('HelveticaNowDisplayXBold');
@include import-font('HelveticaNowDisplayBold');
@include import-font('HelveticaNowDisplayMedium');
@include import-font('NeuePixelRegular');

html {
  font-size: 10px; // 1rem = 10px
}

body {
  background-color: var(--white);
  overflow: hidden;
  * {
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  &::after {
    display: none;
  }
  &::after {
    content: 'mobile';
    @include from__tablet {
      content: 'tablet';
    }
    @include from__tablet--landscape {
      content: 'tablet--landscape';
    }
    @include from__desktop {
      content: 'desktop';
    }
    @include from__desktop--medium {
      content: 'desktop--medium';
    }
    @include from__desktop--large {
      content: 'desktop--large';
    }
    @include from__desktop--x-large {
      content: 'desktop--x-large';
    }
    @media all and (pointer: coarse) {
      & {
        --touch: 1;
      }
    }
  }
}

.observer-el {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.1rem;
  pointer-events: none;
  z-index: 999;
}

a,
button,
input,
textarea,
select,
embed,
object,
iframe,
details {
  outline: 0;

  &:focus-visible {
    outline: 2px solid var(--black);
    outline-offset: 0.2rem;
  }

  &.clicked {
    outline: 0;
  }
}

footer,
.home__hero__player {
  a,
  button,
  input,
  textarea,
  select,
  embed,
  object,
  iframe,
  details {
    &:focus-visible {
      outline: 2px solid var(--lime);
    }
  }
}
