@import './reset';
@import './variables';

@include import-font('t-correct-trial');
@include import-font('t-haas-grotesk-ds-b');
@include import-font('t-saol-display-bi');
@include import-font('t-saol-text-bi');
@include import-font('b-haas-grotesk-tx-b');
@include import-font('b-haas-grotesk-tx-m');
@include import-font('b-haas-grotesk-tx-r');

html {
  font-size: 10px; // 1rem = 10px
}

body {
  background-color: var(--lime);
  &::after {
    display: none;
  }
  &::after {
    content: 'mobile';
    @include from__tablet {
      content: 'tablet';
    }
    @include from__tablet--landscape {
      content: 'tablet--landscape';
    }
    @include from__desktop {
      content: 'desktop';
    }
    @include from__desktop--medium {
      content: 'desktop--medium';
    }
    @include from__desktop--large {
      content: 'desktop--large';
    }
    @include from__desktop--x-large {
      content: 'desktop--x-large';
    }
    @media all and (pointer: coarse) {
      & {
        --touch: 1;
      }
    }
  }
}

.mobile-only {
  @include from__tablet {
    display: none;
  }
}

.tablet-only {
  display: none;
  @include from__tablet {
    display: block;
  }
  @include from__desktop {
    display: none;
  }
}

.desktop-only {
  display: none;
  @include from__desktop {
    display: block;
  }
}

.will-fade {
  opacity: 0.00001;
  will-change: opacity;
}

.observer-el {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.1rem;
  pointer-events: none;
  z-index: 999;
}

a,
button,
input,
textarea,
select,
embed,
object,
iframe,
details {
  outline: 0;

  &:focus-visible {
    outline: 1px solid magenta;
    outline-offset: 0.2rem;
  }

  &.clicked {
    outline: 0;
  }
}
